.btn1{
    padding: 10px 10px;
    background-color: #A62C2B;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
    font-family: trebuchet ms;
    margin-top: 20px;
    border-radius: 5px;
}
.btn1:hover{
    cursor: pointer;
    background-color: #56C596;
    color: black;
    box-shadow: 0 0 5px #56C596, 0 0 10px #56C596, 0 0 15px #56C596;
    font-weight: bold;
}